<div>
    <mat-card class="full-screen-card">
        <div>
            <div *ngFor="let semestre of SemestreKeys(dataSource)">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource[semestre].espacios_academicos" class="mat-table">

                        <!-- Academic Space Column -->
                        <ng-container matColumnDef="academicSpace">
                            <th mat-header-cell *matHeaderCellDef> Espacio académico </th>
                            <td mat-cell *matCellDef="let element"> {{element.academicSpace}} </td>
                        </ng-container>

                        <!-- Credits Column -->
                        <ng-container matColumnDef="credits">
                            <th mat-header-cell *matHeaderCellDef> Créditos </th>
                            <td mat-cell *matCellDef="let element"> {{element.credits}} </td>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>

                        <!-- Selection Column -->
                        <ng-container matColumnDef="selection">
                            <th mat-header-cell *matHeaderCellDef> Selección </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox [(ngModel)]="element.selection"></mat-checkbox>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>

        </div>
    </mat-card>
</div>